{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <!-- Table code taken from CS50 implemenation at https://finance.cs50.net/ -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tfoot>
        </tfoot>
        <tbody>
                {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction["symbol"] }}</td>
                    <td>{{ transaction["shares"] }}</td>
                    <td>{{ transaction["price"] }}</td>
                    <td>{{ transaction["timestamp"] }}</td>
                </tr>
                {% endfor %}
        </tbody>
    </table>
{% endblock %}